{% extends 'roadmap/base.html' %}

{% block title %}Goals list{% endblock title %}

{% block content %}
    <h2>{{ today_date }}</h2>
    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% endif %}

    <p><a href="{% url 'goal_add' %}">Add a goal</a></p>
    {% for goal in goals %}
        <h3>{{ goal }} Deadline: {{ goal.deadline|date:"F j, Y" }}</h3>

        <p><a href="{% url 'goal_update' goal.slug %}">Update</a> |
        <a href="{% url 'goal_delete' goal.slug %}">Delete</a></p>

        <p><a href="{% url 'task_add' goal.slug %}">Add a task</a></p>

        {% for task in goal.tasks.all %}
            <p>{{ task }}</p>
        {% empty %}
            <p>No tasks available yet.</p>
        {% endfor %}
    {% empty %}
        <h3>No goals available yet.</h3>
    {% endfor %}
{% endblock content %}